.base {
    background-color: #0f0f0f;
    height: 100vh;
  }


  /* Marge de 30px de chaque coté */
  .frame {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f0f0f;
    border: 1px solid #808080;
  }

  @media screen and (max-width: 800px) and (min-width: 500px) {
    .frame {
      width: calc(100% - (100% * 0.05));
      height: calc(100% - (100% * 0.05));
      margin: calc((100vw - 500px) * 0.05 / 2);
    }
  }